<nav>
  <ul>
    <span><%= link_to "Home", home_path %>
      |
      <%= link_to "Inventory", items_path %>
      |
      <%= link_to "Archive", archive_path %>
      |
      <%= link_to "New Item", new_item_path %>
    </span>
  </ul>
</nav>
