<!DOCTYPE html>
<html>
  <head>
    <title>Developer Challenge</title>
    <%= csrf_meta_tags %>

  
  </head>

  <body>
      <%= render "shared/navbar" %>
    <%= render "shared/flash_messages" %>

    <%= yield %>
  </body>
</html>
